h1(data-hyper-bind="game.name")
form(data-hyper-form="game.join")
  input(type="submit", value="Join Game")

div(data-hyper="game.state as pieces")
  div(data-ng-repeat="piece in pieces")
    span(data-hyper-bind="piece.type")
    |  - 
    span(data-hyper-bind="piece.position")
    form(data-hyper-form="piece.move")
      input(data-ng-repeat="input in inputs", data-hyper-input="input")
      input(type="submit")